<ion-header>
	<ion-navbar color="toolbar_color">
		<ion-title>Reservar</ion-title>
	</ion-navbar>
	<ion-title text-center padding>Reserva tu sala!</ion-title>
</ion-header>

<!-- nuestro calendario -->
<ion-content>
	<calendar-component [availability]="availableDay"></calendar-component>
</ion-content>


<ion-list *ngIf="availability">
	<ion-item>
		<ion-label>En que horario?</ion-label>
		<ion-select interface="popover" (ionChange)='selectedHour()' [(ngModel)]="hourSelected">
			<ion-option *ngFor="let hour of hours">{{hour}}</ion-option>
		</ion-select>
	</ion-item>
</ion-list>
<ion-list *ngIf="availability">
	<ion-item>
		<ion-label>Por cuanto tiempo?</ion-label>
		<ion-select interface="popover" [(ngModel)]="timeSelected">
			<ion-option *ngFor="let hour of time">{{hour}}</ion-option>
		</ion-select>
	</ion-item>
</ion-list>
